.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 50px;
    margin-top: 130px;
    display: flex;
    column-gap: 50px;
    padding-bottom: 150px;
}

.main_image {
    border-radius: 15px;
    height: 400px;
}

.text_side {
    width: 100%;

    .text {
        border-top: 1px solid #2CA1AE;
        width: 100%;
        padding: 10px 0;
        height: fit-content;

        .department {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .name {
            margin-top: 10px;
            color: rgb(53, 53, 53);
        }

        .spec {
            @extend .department;
            border-bottom: 1px solid #2CA1AE;
            padding-bottom: 15px;
            opacity: .8;
        }

        .experience {
            border-radius: 60px;
            margin-top: 10px;
            font-size: 16px;

        }
    }
}

.position {
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f9fa;
    padding: 10px 20px;
    text-align: center;
}

.edu_items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
}

.edu_item {
    display: flex;
    column-gap: 20px;
    border: 1px solid rgb(202, 202, 202);
    padding: 15px 15px 30px 15px;
    border-radius: 10px;
}

.edu_title {
    font-size: 22px;
    margin-top: 30px;
}

.edu_text {
    max-width: 60%;
}

.courses_list {
    margin-left: 10px;
    margin-top: 20px;
    list-style-type: "- ";
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.calendar {
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
}

.calendar_days {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.calendar_times {
    @extend .calendar_days;
    text-align: right;
}

.btn {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 19px;
    color: white;
    background-color: #2CA1AE;
    border-radius: 10px;
    transition: .1s ease-in-out;

    &:hover {
        background-color: #268691;
    }
}


.arrowContainer {
    display: inline-block;
    vertical-align: middle;
    height: 28px;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease-in-out;

    img {
        transition: transform 0.3s ease-in-out;
    }
}

.rotate {
    transform: rotate(180deg);

    img {
        transform: rotate(180deg);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Apply animation class when the education block is shown */
.show {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@media screen and (max-width: 865px) {
    .wrapper {
        flex-direction: column;
        row-gap: 30px;
        margin-top: 100px;
    }

    .img_side {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
    }

    .img_btns {
        width: 100%;
    }

    .calendar_days {
        font-size: 15px;
    }

    .position {
        margin-top: 0;
    }
}

@media screen and (max-width: 701px) {
    .wrapper {
        padding-inline: 30px;
    }

    .img_side {
        flex-direction: column;
        max-width: 300px;

        img {
            margin: 0 auto;
        }
    }

    .position {
        margin-top: 20px;
    }
}

@media screen and (max-width: 426px) {
    .wrapper {
        padding-inline: 20px;
    }

    .img_side {
        max-width: 100%;
        width: 100%;
    }

    .edu_text {
        max-width: initial;
    }
}