.wrapper {
	margin-top: 120px;
	max-width: 1440px;
	padding-inline: 50px;
	margin-inline: auto;
    display: flex;
flex-direction: column;
row-gap: 40px;
padding-bottom: 90px;
}

.page_title {
    font-size: 36px;
    font-weight: 600;
}

@media screen and (max-width: 701px) {
    .wrapper {
        padding-inline: 20px;
    }
}

@media screen and (max-width: 427px) {
    .wrapper {
        padding-inline: 20px;
    }

    
}