.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    margin-top: 30px;
    column-gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.license_img {
    width: 240px;
    cursor: pointer;
}

.title {
    text-align: center;
    margin-top: 70px;
}

.link {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    opacity: .8;
}