.wrapper {
	height: 100vh;
	width: 85%;
	background-color: white;
	position: fixed;
	top: 0;
    right: -100%;
    z-index: 120;
    padding: 15px 20px 0 40px;
    display: flex;
    flex-direction: column;
}

.show {
    @extend .wrapper;
    right: 0;
}


.nav {
    margin-top: 40px;
	list-style: none;
	display: flex;
    flex-direction: column;
    row-gap: 20px;
	column-gap: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	li {
        font-size: 18px;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}
}

.title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    span {
        color: #2ca1ae;
    }

    img {
        width: 30px;
        position: absolute;
        right: 0;
    }
}

.work_time {
    cursor: pointer;
	border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    width: 230px;
    margin-top: 10px;
    height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 25px;

	h5 {
		font-weight: 500;
		opacity: .8;
		font-size: 13px;
	}
}

.schedule_title {
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}


@media screen and (max-width: 426px) {
    .title {
        font-size: 26px;
    }
}