.wrapper {
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
    background-color: #fff;
    padding: 20px 50px 30px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0,0,0,.05);

    ul {
        // list-style: none;
        list-style-type: '— ';
        margin-top: 10px;

        li {
            font-size: 18px;
            margin-left: 24px;
        }
    }

    h1 {
        border-bottom: 3px solid #f5b2b6;
        padding-bottom: 7px;
    }
}

.offer {
    display: flex;
    column-gap: 70px;
    margin-top: 20px;
}

.mini_title {
    color: rgb(63, 63, 63);
}

.response {
    margin-top: 30px;
}

.skills {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    p {
        background-color: #f0f0f0;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .btn {
        background-color: #2CA1AE;
        padding: 10px 50px;
        border-radius: 5px;
        font-weight: 600;
        color: white;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #0298a8;
        }
    }
}

.navyki {
    display: flex;
    column-gap: 10px;
}

@media screen and (max-width: 960px) {
    .skills {
        flex-direction: column;
        row-gap: 20px;

        p {
            padding: 7px 10px;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 701px) {
    .offer {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media screen and (max-width: 585px) {
    .wrapper {
        padding: 20px;
        
        ul li {
            font-size: 15px;
        }
        h1 {
            font-size: 20px;
        }
    }

    .mini_title {
        font-size: 16px;
    }

    .navyki {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .skills {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        p {
            font-size: 12px;
            white-space: nowrap;
        }
    }
}