.wrapper {
    margin-top: 110px;
    max-width: 1340px;
    margin-inline: auto;
    height: 400px;
    position: relative;
    padding: 30px;
    overflow: hidden;
}

.main_image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.main_title {
    font-size: 42px;
    margin-left: 6%;
    margin-top: 50px;
    color: white;
    z-index: 10;
    position: relative;
}

.text {
    margin-left: 6%;
    max-width: 50%;
    font-size: 18px;
    margin-top: 30px;
    color: white;
    position: relative;
    z-index: 10;

    b {
        color: white;
    }
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
}

@media screen and (max-width: 1439px) {
    .wrapper {
        margin-top: 90px;
        width: 100%;
        padding: 30px;
    }

}

@media screen and (max-width: 575px) {
    .wrapper {
        padding: 10px 20px;
        height: 250px;
    }
    .main_image {
        left: initial;
        top: 0;
        right: 0;
        transform: translate(0,0);
        opacity: .8;
    }

    .main_title {
        font-size: 26px;
        width: 70%;
        margin-top: 10px;
        color: white;
        position: relative;
        z-index: 10;
        margin-left: 0;
    }

    .text {
        position: relative;
        z-index: 10;
        color: white;
        margin-left: 0;
        margin-top: 10px;
        font-size: 14px;
        max-width: 70%;
        width: 70%;

        b {
            color: white;
        }
    }
}