.wrapper {
	margin-top: 120px;
	max-width: 1340px;
	height: 400px;
	margin-inline: auto;
	box-shadow: inset 0 0 120px 70px rgb(223, 223, 223);
	padding: 50px;
	padding-left: 450px;
	position: relative;

	.image {
		position: absolute;
		height: 400px;
		left: 0;
		top: 0;
		pointer-events: none;
	}
}

.clickbate {
	display: flex;
	align-items: center;

	.titles {
		text-align: right;
		padding-right: 10px;
		margin-right: 10px;
		border-right: 5px solid red;

		h2 {
			font-weight: 500;
			font-style: italic;
		}
	}

	h1 {
		font-size: 60px;
		font-weight: 900;
		color: rgb(83, 57, 57);
	}
}

.description {
	margin-top: 30px;
	font-size: 18px;

	p {
		color: rgb(29, 29, 29);
	}
}

.btn {
	margin-top: 50px;
	padding: 10px 50px;
	background-color: rgb(211, 10, 10);
	color: white;
	font-weight: 600;
	font-size: 26px;
	cursor: pointer;
}

@media screen and (max-width: 1439px) {
	.wrapper {
		padding-left: 350px;
		.image {
			left: -100px;
		}
	}

	.clickbate {
		.titles {
			h2 {
				font-size: 16px;
			}
		}
		h1 {
			font-size: 42px;
		}
	}

	.description {
		font-size: 15px;
	}
}

@media screen and (max-width: 1439px) {
    .wrapper {
        margin-top: 90px;
    }

}

@media screen and (max-width: 965px) {
	.wrapper {
		height: 300px;
		padding: 20px;
		padding-left: 210px;

		.image {
			height: 300px;
		}
	}

	.clickbate {
		.titles {
			h2 {
				font-weight: 600;
				font-size: 15px;
			}
		}
		h1 {
			font-size: 32px;
		}
	}

	.description {
		margin-top: 10px;
	}
	.btn {
		margin-top: 20px;
	}
}

@media screen and (max-width: 701px) {
	.wrapper {
		text-align: center;
		height: initial;
		padding: 20px;
		.image {
			display: none;
		}
	}

	.clickbate {
		margin: 0 auto;
		width: fit-content;
		display: block;
		.titles {
			padding: 0;
			border-right: none;
			padding-bottom: 7px;
			margin-bottom: 7px;
			border-bottom: 5px solid red;
			h2 {
				font-size: 16px;
				text-align: center;
			}
		}

		h1 {
			text-align: center;
		}
	}

	.description {
		text-align: center;
		width: 100%;
	}

	.btn {
		// width: fit-content;
		margin: 30px auto;
	}
}
