.outer_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	margin-inline: auto;
	padding: 0 50px;
	margin-top: 70px;
}

.banner {
	width: 100%;

	padding: 30px 50px;
	border-radius: 30px;
	background-color: #2ca1ae;
	position: relative;
}

.title {
	color: white;
	font-size: 32px;
	width: 60%;
	font-weight: 500;
}

.btn {
	background-color: #fff;
	border-radius: 6px;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: 700;
	color: #2ca1ae;
	cursor: pointer;
	margin-top: 20px;
	transition: 0.2s ease-in-out;

	&:hover {
		color: #2894a0;
		box-shadow: 0 0 20px #2894a0;
		transform: translateY(-3px);
	}
}

.doctors_img {
	position: absolute;
	bottom: 0;
	right: 100px;
	width: 300px;
}

@media screen and (max-width: 950px) {
    .outer_wrapper {
        margin-top: 40px;
    }
	.doctors_img {
		right: 30px;
		width: 250px;
	}

	.title {
		font-size: 20px;
	}
}
