.qa-block {
	max-width: 1440px;
	margin-inline: auto;
	padding: 0 50px 70px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

	.qa-title {
		opacity: 0.9;
	}

	.qa-item {
		padding: 20px 50px;
		border: 1px solid rgb(238, 238, 238);
		border-radius: 20px;
        overflow: hidden;
        transition: 1s linear;
        height: 80px;
        cursor: pointer;
	}

    .hided {
        height: initial;
		.qa-close {
			transform: rotate(45deg);
		}
    }

	.qa-open-side {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.qa-close-side {
		font-weight: 500;
		font-size: 18px;
        margin-top: 30px;

	}

	.qa-close {
		width: 40px;
		height: 40px;
		position: relative;
		cursor: pointer;
		transform: rotate(0);
	}

	.qa-close-hor {
		position: absolute;
		background-color: rgb(220, 220, 220);
		width: 30px;
		height: 3px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.qa-close-vert {
		position: absolute;
		background-color: rgb(220, 220, 220);
		width: 3px;
		height: 30px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}