.main_title {
	font-size: 36px;
	margin: 50px 0 30px;
	text-align: center;
}

.wrapper {
	max-width: 1440px;
	padding: 0 50px 100px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.flex_wrapper {
	display: flex;
	flex-direction: column;
}

.show_side {
	padding: 10px 30px;
	border: 1px solid rgb(223, 223, 223);
	position: relative;
	cursor: pointer;

	img {
		position: absolute;
		right: 20px;
		width: 30px;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
		opacity: 0.5;
		transition: 0.3s ease-in-out;
	}
}

.close_side {
	padding: 0 40px;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

@media screen and (max-width: 701px) {
	.title {
		font-size: 16px;
	}

	.wrapper {
		padding-inline: 20px;
	}

	.show_side {
		padding: 10px 20px;
		img {
			right: 10px;
			width: 20px;
		}
	}

    .main_title {
        margin: 30px auto 10px;
        font-size: 27px;
    }
}
