.content {
	max-width: 1440px;
	margin-inline: auto;
	padding: 70px 50px 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(421px, 1fr));
	grid-auto-flow: row;
	column-gap: 30px;
	row-gap: 30px;
}

.card {
	// border: 1px solid rgba(194, 194, 194, 0.1);
	height: 290px;
	background-color: #fff;
	border: 1px solid rgb(224, 224, 224);
	box-shadow: 0 0 20px rgba(224, 224, 224,.4);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.18s ease-in-out;
	padding: 30px 50px;
	position: relative;
	overflow: hidden;

	&:hover {
		box-shadow: 0 0 30px rgb(218, 218, 218);
	}

	&__text {
		margin-top: 20px;
		opacity: 0.8;
		height: 100px;
		width: 70%;
	}

	&__btn {
		border: 1px solid rgb(223, 223, 223);
		border-radius: 60px;
		padding: 10px 30px;
		margin-top: 50px;
		font-weight: 500;
		cursor: pointer;
	}

	&__img {
		width: 350px;
		position: absolute;
		right: -120px;
		bottom: -80px;
	}
}

.btn_hover {
	transition: 0.1s ease-in-out;
	&:hover {
		background-color: #2ca1ae;
		color: #e4f0f1;
		box-shadow: 0 0 10px #41cfdf;
		border: 1px solid #2ca1ae;
	}
}

@media screen and (max-width: 1439px) {
	.content {
		padding: 20px 30px;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10px;
		row-gap: 10px;
		.card {
			border-radius: 5px;
			padding: 20px 10px;
			&:nth-child(3) {
				grid-column: 1/3;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.content {
		display: flex;
		flex-direction: column;
	}

	.card {
		height: 220px;

		&__btn {
			margin-top: 0px;
			border-radius: 5px;
			font-size: 12px;
			width: 250px;
		}
	}
}

@media screen and (max-width: 575px) {
	.content {
		padding: 30px 20px;
	}
	.card {
		width: 100%;
		padding: 20px 10px;
		border-radius: 15px;
		height: fit-content;

		&__title {
			font-size: 15px;
		}

		&__text {
			width: 100%;
			font-size: 13px;
			margin-top: 5px;
			hyphens: auto;
		}
		&__btn {

		}

		&__img {
			display: none;
		}
	}
}
