.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 10px;
	padding-inline: 50px;
    margin-inline: auto;
	max-width: 1440px;
}

.l-side {
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	align-items: end;

	&-text {
		text-align: right;
        
		p {
            font-weight: 600;
			margin: -10px 0 0 0;
			font-size: 15px;
			font-family: 'Noto Sans', sans-serif;
		}
	}
	img {
		width: 45px;
		margin-left: 6px;
	}

	.stomaland {
		font-size: 24px;
		font-family: 'Noto Sans', sans-serif;
		font-weight: 700;
		letter-spacing: -1px;
		margin: 0;

		span {
            font-weight: 700;
            color: #2ca1ae;
		}
	}
}

.numbers {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
    font-weight: 500;

    a{
        &:hover {
            opacity: 0.6;
        }
    }

}

.contacts {
	display: flex;
    align-items: center;
    column-gap: 30px;
}

.nav {
	list-style: none;
	display: flex;
	column-gap: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
    margin-left: 70px;
	li {
        font-size: 18px;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}
}

.work-time {
    cursor: pointer;
	border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    width: 200px;
    height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 25px;

	h5 {
		font-weight: 500;
		opacity: .8;
		font-size: 13px;
	}
}