.footer {
	max-width: 1440px;
	margin-inline: auto;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	* {
		color: white;
		font-weight: 500;
	}
}

.title {
	font-size: 26px;
	font-weight: 600;
}


