.wrapper {
	max-width: 1440px;
	margin-inline: auto;
	padding: 0 50px;
	padding-bottom: 200px;
	display: flex;
	margin-top: 100px;
	flex-direction: column;

	.title {
		align-self: flex-start;
		font-size: 66px;
		font-weight: 500;
	}
}

.maintenance {
	font-size: 33px;
	font-weight: 700;
	margin-top: 20px;
}

.message {
	margin-top: 20px;
	font-size: 22px;
	max-width: 1000px;
	line-height: 28px;
	span {
		color: blue;
	}
}

// main

.content {
	margin-top: 20px;
}

.block_title {
	padding: 10px;
	border-bottom: 2px solid #f5b2b6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	&_h1 {
		font-size: 22px;
		font-weight: 500;
	}
}

.table {
	display: flex;
	flex-direction: column;
}

.table_item {
	padding: 20px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:nth-child(2n) {
		background-color: #f1f1f1;
	}
}

.table {
	overflow: hidden;
}
