.wrapper {
	max-width: 1440px;
	margin-inline: auto;
	padding: 0 50px;
	padding-bottom: 200px;
	display: flex;
	margin-top: 100px;
	flex-direction: column;

	.title {
		align-self: flex-start;
		font-size: 66px;
		font-weight: 500;
	}
}

.content {
	margin-top: 20px;
}

.block_title {
	padding: 10px;
	border-bottom: 2px solid #f5b2b6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	&_h1 {
		font-size: 22px;
		font-weight: 600;
	}
}

.table {
	display: flex;
	flex-direction: column;
}

.table_item {
	padding: 20px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;

	&:nth-child(2n) {
		background-color: #f1f1f1;
	}

	h4 {
		font-weight: 500;
		font-size: 18px;
	}
	
	span {
		min-width: fit-content;
		font-weight: 600;
	}
}

.table {
	overflow: hidden;
}


@media screen and (max-width: 701px) {
	.wrapper {
		padding: 20px;

		.title {
			font-size: 32px;
		}
	}

	.content {
		margin-top: 10px;
	}

	.block_title {
		&_h1 {
			font-size: 16px;
		}
	}

	.table_item {
		h4 {
			font-size: 14px;
			// max-width: 80%;
		}
	}

	svg {
		width: 15px;
	}
}