.wrapper {
  margin-top: 60px;
  max-width: 1440px;
  padding-inline: 50px;
  margin-inline: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f0;

  &-thumb {
    background-color: #0a4a52;
    border-radius: 5px;
  }
}


// * {
//   outline: auto;
// }