.wrapper {
  margin-top: 60px;
  max-width: 1440px;
  padding-inline: 50px;
  margin-inline: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 36px;
  margin: 50px 0;
  text-align: center;
  opacity: .7;
}