:root {
  --main-blue-color: #2CA1AE;
}


.wrapper {
  max-width: 1440px;
  padding-inline: 50px;
  margin-inline: auto;
}

.browser {
  min-height: calc(100vh - 50px);
  position: relative;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f0;

  &-thumb {
    background-color: #0a4a52;
    border-radius: 5px;
  }
}

@media screen and (max-width: 675px) {
  .wrapper {
    padding-inline: 20px;
  }
}