.banner {
    background-color: #F5B3B7;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__wrapper {
    position: relative;
}

.banner__text {
    position: absolute;
    top: 244px;
    left: 390px;

    .banner__title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 44px;
    }

    .banner__title2 {
        margin-left: -20px;
        font-size: 40px;
        font-weight: 500;
    }

    .banner__title3 {
        margin-left: -40px;
        opacity: .6;
        font-size: 40px;
    }

}
